<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>596462131725-qa2idb4sgef091pmt1kq62lbl9bc58fv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.596462131725-qa2idb4sgef091pmt1kq62lbl9bc58fv</string>
	<key>API_KEY</key>
	<string>AIzaSyBQtpQQnn_AsPgYUPp7US1dRcShOSJ7tQs</string>
	<key>GCM_SENDER_ID</key>
	<string>596462131725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myfitos.fitstack</string>
	<key>PROJECT_ID</key>
	<string>fitosauth</string>
	<key>STORAGE_BUCKET</key>
	<string>fitosauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596462131725:ios:6087c169df8a2f62b7d344</string>
</dict>
</plist>